@font-face {
    font-family: 'Time Trap';
    src: url('Fontes/TIme TRap.otf') format('opentype');
}
    
body {
    background-image: url("imagens/veigh.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

h1 {
    font-family: 'Time Trap', Arial, Helvetica, sans-serif;;
    color: rgb(66, 255, 66);
    text-align: center;
}
    